[Unit]
Description=TG IMG Hub Service
After=network.target
Wants=network.target

[Service]
User=xxx
WorkingDirectory=/home/用户名/code/TgImgHub
ExecStart=/usr/bin/python3  /home/用户名/code/TgImgHub/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target